.buttonGroup {
  border-bottom: 2px solid #edeff3;
  display: flex;
  flex-grow: 1;
}

.buttonGroup button {
  border: 0;
  background-color: white;
  outline: none;
  padding: 15px;
  padding-inline: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.buttonGroup button:disabled {
  color: initial;
  box-shadow: 0 2px 0 #29b869;
}